body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: white;
    color: black;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 10px;
}

h1 {
    color: #333;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: royalblue; /* Of een andere kleur naar keuze */
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: darkblue;
}
